storeapp/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56151/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56151/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56151/Service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getcat_InputMessage">
    <wsdl:part name="parameters" element="tns:getcat" />
  </wsdl:message>
  <wsdl:message name="IService_getcat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getcatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getPro_InputMessage">
    <wsdl:part name="parameters" element="tns:getPro" />
  </wsdl:message>
  <wsdl:message name="IService_getPro_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getUsr_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsr" />
  </wsdl:message>
  <wsdl:message name="IService_getUsr_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsrResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getReg_InputMessage">
    <wsdl:part name="parameters" element="tns:getReg" />
  </wsdl:message>
  <wsdl:message name="IService_getReg_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRegResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Inorder_InputMessage">
    <wsdl:part name="parameters" element="tns:Inorder" />
  </wsdl:message>
  <wsdl:message name="IService_Inorder_OutputMessage">
    <wsdl:part name="parameters" element="tns:InorderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrder" />
  </wsdl:message>
  <wsdl:message name="IService_getOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_delOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:delOrder" />
  </wsdl:message>
  <wsdl:message name="IService_delOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:delOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getcat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getcat" message="tns:IService_getcat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getcatResponse" message="tns:IService_getcat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPro">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getPro" message="tns:IService_getPro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getProResponse" message="tns:IService_getPro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsr">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getUsr" message="tns:IService_getUsr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getUsrResponse" message="tns:IService_getUsr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReg">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getReg" message="tns:IService_getReg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getRegResponse" message="tns:IService_getReg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Inorder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Inorder" message="tns:IService_Inorder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InorderResponse" message="tns:IService_Inorder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getOrder" message="tns:IService_getOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getOrderResponse" message="tns:IService_getOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/delOrder" message="tns:IService_delOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/delOrderResponse" message="tns:IService_delOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getcat">
      <soap:operation soapAction="http://tempuri.org/IService/getcat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPro">
      <soap:operation soapAction="http://tempuri.org/IService/getPro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsr">
      <soap:operation soapAction="http://tempuri.org/IService/getUsr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReg">
      <soap:operation soapAction="http://tempuri.org/IService/getReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inorder">
      <soap:operation soapAction="http://tempuri.org/IService/Inorder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrder">
      <soap:operation soapAction="http://tempuri.org/IService/getOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delOrder">
      <soap:operation soapAction="http://tempuri.org/IService/delOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:56151/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>